<% layout('./layouts/index.ejs') %>
<h1>Registration</h1>
<hr>
<form action="/login" name="login" method="post">
  <div class="field-wrapper">
    <div class="field"><label for="email">Email</label><input id="email" type="email" name="email"></div>
    <div class="field"><label for="password">Password</label><input id="password" type="password" name="password"></div>
    <div class="field"><button>Log In</button></div>
  </div>
</form>
